

/*DESIGN FOR THE MAIN CONTAINTER  576px;*/
body {
  background-color: #f1f1f1;
  background-image: url("/HERNAN/Hernan_server_tasks/RL_example_ICM_Reversal/images/logo-icm-en.png");
  background-position: top center;
  background-repeat: no-repeat;
	/* other candidates:#FBFBFF #DDE2E3, #ebebec  #F4EDED*/

}

ul {
  margin: 0.5em;
  padding: 0em;
  margin-bottom: 2em;
}

ul li
{
  margin-bottom: 1.15em;
}

#Cont {
	background-color: #FFFFFF;
	border: 1px solid  #ababab; 	/* other candidates: #ababab #3C455C*/
	max-width: 576px;
	margin-top: 7vh
  }

#ContBox {
	min-height: 50vh;
  }

#SkipF {
	color: #FFFFFF;
  }

#Bottom {
	margin-bottom: 0px
  }

/*DESIGN FOR WARN TEXT */
.text-w{
  color:#4358ae;
}

/*DESIGN FOR THE BUTTONS */
input.myBtn{
	background-color:#34427f; /* #232e5a #6b89ff  #3C455C*/
	color:#FFFFFF;
  min-width: 3.2em;
}

input.myBtn:hover{
    color: #FFFFFF;
}

a.myBtn{
	background-color:#34427f; /* #232e5a #6b89ff  #3C455C*/
	color:#FFFFFF;
  min-width: 3.2em;
}

a.myBtn:hover{
    color: #FFFFFF;
}

/*DESIGN FOR THE BUTTONS - VALUATION TASK */
.valResp{
	background-color:#ffffff; /* #232e5a #6b89ff  #3C455C*/
	color:#000000;
  min-width: 3.2em;
}

.valVResp{
	background-color:#ffffff; /* #232e5a #6b89ff  #3C455C*/
	color:#000000;
  min-width: 6em;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #34427f;
  border-color: #34427f;
}

.btn-secondary:not(:disabled):not(.disabled).active{
    border-color:#34427f;
    background-color: #34427f;
}

.ow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: none;
}
/*DESIGN FOR SLIDER */
#custom-handle-R,#custom-handle-P {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	margin-left: -1.5em;
	text-align: center;
	line-height: 1.6em;
	background-color:#34427f;
	color:#FFFFFF;
	border-color: #34427f;
}

#Slider_R,#Slider_P,#Slider {
	height: .4em;
	background-color:#f1f1f1;
	border-color: #f1f1f1;
}

/*DESIGN FOR THE ORDERING TASK */
.symDrop{
  min-height: 120px;
  min-width: 100px;
  max-width: 100px;
  background-color: #f1f1f1;
  /*border: 1px solid black;*/
}

.symDrag{
  min-height: 100px;
  min-width: 100px;
  max-width: 100px;
}

/* 
.ICM-image {
  background-image: url("/HERNAN/Hernan_server_tasks/RL_example_ICM_Reversal/images/logo-icm-en.png");
  background-color: #f1f1f1;
  margin: 0.5em;
  padding: 0em;
  height: 150px;
  width: 300px;
  background-position: top center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  position: relative;
} */
